services:
  db:
    image: postgres:18.1
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./postgres_data:/var/lib/postgresql
    networks:
      - app-network
    ports:
      - 5433:5432

  pgbouncer:
    image: edoburu/pgbouncer:latest
    restart: always
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 1000
      DEFAULT_POOL_SIZE: 20
      ADMIN_USERS: ${DB_USER}
      AUTH_TYPE: scram-sha-256
    ports:
      - ${PORT:-5432}:5432
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge